*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    /*background-color: black;*/
    margin: 2em;
}

header{
    background-color: gray;
    height: 20vh;
    border-radius: 10px;
}

/*PARRAFOS*/
p{
    color: white;
}

/*CONTENIDO IMAGENES*/
img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.img1{
    grid-column: 2/3;
    grid-row: 1/4;
}
.img2{
    grid-column: 3/4;
    grid-row: 1/4;

}

.img_oculto_pc{
    display: none;
}
