/*Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
}

.container{
    /*background-color: black;*/
    margin: 2em;
}

header{
    background-color: gray;
    height: 20vh;
    border-radius: 10px;
    padding-top: 2rem;
}

header h1{
    text-align: center;
    font-size: 6em;
    color: white;
    font-family: "Playfair Display", serif;
}
/*CONTENIDO TEXTO*/
.content{
    height: 100%;
    grid-column: 1/2;
    border-radius: 10px;
    padding: 1.6em;
    font-size: 1.6em;
    font-family: "Nunito", sans-serif;
}
.main{
    margin-top: 3em;
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    column-gap: 30px;
    row-gap: 30px;
}

.block1{
    background-color: #909497;

    grid-row: 1/2;
}
.block2{
    background-color: #909497;

    grid-row: 2/3;
}
.block3{
    background-color: #909497;

    grid-row: 3/4;
}
.block4{
    background-color: #909497;

    grid-row: 4/5;
}
.block5{
    background-color: #909497;

    grid-row: 5/6;
}
.block6{
    background-color: #909497;
    grid-row: 6/7
}

.oculto_pc{
    display: none;
}

/*PARRAFOS*/
p{
    color: white;
}

/*CONTENIDO IMAGENES*/
img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.img1{
    grid-column: 2/3;
    grid-row: 1/4;
}
.img2{
    grid-column: 3/4;
    grid-row: 1/4;

}

.img_oculto_pc{
    display: none;
}
/*Sombreado*/
header, .content, img{
    box-shadow: 5px 5px 20px;
}

/*Responsive*/

/*Celular*/
@media (max-width: 767px) {
    header{
        height: 10vh;
    }

    header h1{
        font-size: 3em;
    }

    .main{
        margin-top: 2em;
        row-gap: 15px;
    }
    .content{
        height: 10vh;
        font-size: .6rem;
    }
    .block4{
        display: initial;
    }
    .block5 .block6{
        display: none;
    }

    .img_oculto_celular{
        display: none;
    }
    .img4{
        display: initial;
        grid-column: 2/4;
        grid-row: 1/5
    }
    .img5{
        display: initial;
        height: 80%;
        grid-column: 1/4;
        grid-row: 5/7;
    }
}

/*Tablet*/
@media (min-width: 768px) and (max-width: 1023px) {
    header{
        height: 15vh;
        padding-top: 2.5rem;
    }

    header h1{
        font-size: 4.5em;
    }

    .main{
        margin-top: 1.8em;
        row-gap: 10px;
    }
    .content{
        height: 10vh;
        font-size: 0.75rem;
    }

    .block4, .block5, .block6{
        display: initial;
    }
    .img_oculto_tablet{
        display: none;
    }
    .img3{
        display: initial;
        grid-column: 2/4;
        grid-row: 1/7;
    }
}

